#child1{
    text-align: center; 
    float: left;
    margin-top: 50px;
    margin-left: 80px;

}

#child2{
    text-align: center; 
    float: right;
    margin-top: 50px;
    margin-right: 80px;

}
.style1{
    opacity: 0;
}