
<button class="btn btn-warning" style="float: right;" (click)="logout()">Logout</button>
<button class="btn btn-danger" style="float: right; margin-right: 10px;" (click)="delete()">Delete</button><br>
<app-delete [item]="acno" (onCancel)="onCancel()" (onDelete)="onDelete($event)"></app-delete>  
<!-- onCancel -> user defined event -->


<div class="parent" style="width: auto;margin-top: 10px;" [ngClass]="acno? 'style1':''">
  <h1 style="text-align: left;">&nbsp;&nbsp; Welcome <span style="font-size: 50px;line-height: 100px; color: transparent;-webkit-text-stroke: 1px rgb(255, 255, 255);">{{user}}</span> <span style="float: right;margin-top: -48px;margin-right: 10px;"> <a routerLink="/transaction" style="align-content:center;">View Transaction History</a> </span> </h1>
  <h4>&nbsp;&nbsp; &nbsp;&nbsp; Date and Time : {{sdate | date:'short'}}</h4>

     
  <form [formGroup]="depositForm"><div id="child1">

         <svg xmlns="http://www.w3.org/2000/svg" style="width:50px;height:50px;margin-top:-3px; color:rgb(99, 97, 97)" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
             <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
           </svg><br><br>
    
         <!-- <h1 style="margin-top:10px;" style="color:rgb(46, 216, 3);font-size: 70px;
         line-height: 80px;
         color: transparent;
         -webkit-text-stroke: 1px rgb(46, 216, 3);" >Deposit</h1><br> -->
    
         
         <input formControlName="acno" type="text" id="regacno"  placeholder="     Account number"><br>
         <p *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid account number</p>
         <br>
         <input formControlName="pswd" type="password" id="regpass"  placeholder="     Password"><br>
         <p *ngIf="this.depositForm.get('pswd')?.errors && this.depositForm.get('pswd')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid password</p>
         <br>
         <input formControlName="amount" type="text" id="regname"  placeholder="     Amount to deposit"><br>
         <p *ngIf="this.depositForm.get('amount')?.errors && this.depositForm.get('amount')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid data entry</p>
         <br>
    
    <button class="btn" type="button" id="deposit" (click)="deposit()" >Deposit</button><br><br>
    
     </div></form>
     <form [formGroup]="withdrawForm"><div id="child2">

         <svg xmlns="http://www.w3.org/2000/svg" style="width:50px;height:50px;margin-top:-3px;color:rgb(99, 97, 97)" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
             <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
           </svg><br><br>
    
         <!-- <h1 style="margin-top:10px;"  style="color:rgb(255, 30, 0);font-size: 60px;
         line-height: 80px;
         color: transparent;
         -webkit-text-stroke: 1px rgb(248, 115, 106);">Withdraw</h1><br> -->
    
         
         <input formControlName="acno1" type="text" id="regacno"  placeholder="     Account number"><br> <p *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid account number</p><br>
         <input formControlName="pswd1" type="password" id="regpass"  placeholder="     Password"><br> <p *ngIf="this.withdrawForm.get('pswd1')?.errors && this.withdrawForm.get('pswd1')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid password</p><br>
         <input formControlName="amount1" type="text" id="regname"  placeholder="     Amount to withdraw"><br> <p *ngIf="this.withdrawForm.get('amount1')?.errors && this.withdrawForm.get('amount1')?.touched" style="color: red;text-align: left; margin-left: 50px;">Invalid data entry</p><br>
    
    <button class="btn" type="button" id="deposit" (click)="withdraw()">Withdraw</button><br><br>
    
     </div></form>
</div>
