body{
    /* background-color:#ecf0f3 ; */
    background-image: url('https://w10.naukri.com/mailers/2021/naukri-learning/oct/27oct/What-is-Consumer-Banking.jpg');
    background-repeat: no-repeat;
   background-size: cover;
}

#child1{
    text-align: center; 
    float: left;
    margin-top: 50px;
    margin-left: 80px;

}

#child2{
    text-align: center; 
    float: right;
    margin-top: 50px;
    margin-right: 80px;

}
.style1{
    opacity: 0;
}